.contact{
    margin:80px auto;
    max-width:90%;
    display:flex;
    align-content: center;
    gap:50px;
   
    
}
.contact-col{
    flex-basis:48%;
    color: #676767;
}
.contact-col div{
    
    color:#000F38;
    margin-bottom: 20px;
    display:flex;
    align-items: center;

}
.contact-col div h3{
    font-weight: 500;
    font-size: 25px;
    max-width: 450px;

}

.contact-col div img{
    width:35px;
    margin-left: 4px;
}
.contact p{
   
    /* font-size: 16px; */
    max-width:450px;
    line-height: 1.2;
    /* margin-bottom: 20px; */
    
   
}
.contact ul li{
    /* list-style: none; */
    display: flex;
    align-items: center;
    margin: 20px 0;
    /* width:300px; */
    
}
.contact ul li img{
  width:25px;
  margin-right:10px;
    
}
.contact form input ,  .contact form textarea{
    display:block ;
    margin-bottom: 15px;
    margin-top:5px;
    width:100%;
    background: #EBECFE;
    
    padding:15px;
    border:none;
    outline: 0;
    resize: none;
}
.contact-col span{
    display: block;
    margin:20px 0;

}
@media (max-width:1000px ) and(min-width:850px) {
    .contact p{
   
        font-size: 14px;
        max-width:300px;
        line-height: 1.2;
        /* margin-bottom: 20px; */
        
       
    }
    .contact-col div h3{
        font-weight: 500;
        font-size: 22px;
    
    }
    .contact-col div img{
        width:30px;
       
    }
    .contact ul li{
    
        font-size: 14px;
        
    }
    .contact ul li img{
      width:20px;
     
        
    }
    .contact form input ,  .contact form textarea{

        font-size: 12px;
    }
    .contact form label{
        font-size: 14px;
    }
 
    
}
@media (max-width: 870px)  {
    .contact{
        flex-direction: column;
        
       
        gap: 0px;
    }
    .contact-col{
      padding: 20px;
      
    }
    .contact p{
        max-width: 600px;
    }
  
        
       
 
  
 
    
}
@media (max-width: 600px){
    .contact{
        margin:40px auto;
    }
    .contact p{
   
        font-size: 13px;
        max-width: 300px;
        line-height: 1.2;
        /* margin-bottom: 20px; */
        
       
    }
    .contact-col div h3{
        font-weight: 500;
        font-size: 20px;
    
    }
    .contact-col div img{
        width:29px;
       
    }
    .contact ul li{
    
        font-size: 13px;
        
    }
    .contact ul li img{
      width:19px;
     
        
    }
    .contact form input ,  .contact form textarea{

        font-size: 11px;
    }
    .contact form label{
        font-size: 13px;
    }
 
    


}
  
  
    

