#principles {
  /* padding: 60px 20px; */
  position: relative;
  max-width: 1200px;

  padding: 40px 10vw;
  border-radius: 20px;
  background: linear-gradient(to right, #f9f9f9, #f0f0ff);
  box-shadow: 0 8px 25px rgba(33, 46, 160, 0.1);
  margin: 80px auto;
}
#principles .back-btn,
#principles .next-btn {
  border-radius: 50%;
  background-color: #212ea0;
  width: 50px;

  padding: 15px;
  position: absolute;
  cursor: pointer;

  left: 3%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
#principles .next-btn {
  left: 97%;
  transform: translate(-100%, -50%);
}
.slider-principles {
  overflow: hidden;
}
.slider-principles ul {
  display: flex;

 
  overflow-x: hidden;
  transition: 0.5s;
}
.slider-principles ul li {
  list-style: none;
  width: 100%;


}
.principle-card {
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 30px;
  max-width: 800vw;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.principle-img {
  width: 170px;
  /* height: 160px; */
  aspect-ratio: 4/5;
  object-fit: cover;
  border-radius: 5%;
  border: 4px solid #212ea0;
  margin-bottom: 20px;
}

.principle-content h2 {
  color: #212ea0;
  font-size: 20px;
  margin-bottom: 10px;
}

.principle-content p {
  font-size: 16px;
  color: #444;
  line-height: 1.6;
  margin-bottom: 15px;
}

.principle-content span {
  display: block;
  font-size: 14px;
  color: #c10e0b;
  font-style: italic;
  font-weight: bold;
}

@media (max-width: 768px) {

  #principles .back-btn,
  #principles .next-btn {
    width: 35px;
    padding: 10px;
  }
  .principle-card {
    padding: 20px;
    /* width: 400px; */
  }

  .principle-img {
    width: 140px;
  }

  .principle-content h2 {
    font-size: 18px;
  }

  .principle-content p {
    font-size: 14px;
  }

  .principle-content span {
    font-size: 13px;
  }
}
@media (max-width: 540px) {

  .principle-card {
    padding: 15px;
  }

  .principle-img {
    width: 110px;
  }

  .principle-content h2 {
    font-size: 16px;
  }

  .principle-content p {
    font-size: 13px;
  }

  .principle-content span {
    font-size: 12px;
  }
  .slider-principles ul li {
    padding: 20px;
  }
}
