.values {
 
  margin: 80px auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.value {
  flex-basis: 30%;
  position: relative;
  /* width: 100%; */
  border-radius: 10px;
  /* object-fit: cover;
    object-fit: cover; */
  aspect-ratio: 1;
}

/* .value {
    width: 100%;
    border-radius: 10px; 
    display: block;
    object-fit: cover;
    aspect-ratio: 1;
    
   
    


} */

.value .caption p {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 600;
}
.value .caption {
  background-color: white;
}
.value .caption img {
  width: 70px;
}
@media (max-width: 850px) {
  .values {
    flex-direction: column;
    gap: 20px;
  }
  .value {
    flex-basis: auto;
    width: 60%;
  }
}
@media (max-width:600px) {
    .values{
        margin: 80px auto;

    }
    

    
}
@media (max-width: 500px) {
  .value .caption p {
    font-size: 20px;
  }
  .value .caption img {
    width: 50px;
  }
}
