.department-head{
    position: fixed;
    z-index: 100;
   
    top: 5%;
    width: 100%;
   height: 100%;

    background-color: #00000053;
  
    
    
   
    display: flex;
  
    align-items: center;
    justify-content: center;
   

    
 
}
.department-head-container{
   
    position: relative;
    background-color: white;
    padding: 20px ;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.532);
    
   
   

}


.head-info {
    display: flex;
    align-items: center;
   justify-content: space-around;
  align-content: center;
    

}
.department-head-container .head-info img{
    
   max-width: 190px;
    border-radius: 10px;
    position: relative;
    right: 15px;
    
 
  

}
.head-info .head-word{
  
    max-width: 300px;
   
    
}
.head-info .head-word h2{
  
   text-align: left;
   margin-bottom: 10px;
   font-size: 20px;
   /* text-align: center; */
    color: #000F38;
}
.head-info .head-word p{
    margin-bottom: 8px;
    font-size: 13px;
     color: #676767;
}
.head-info .head-word .signature{
    font-size: 11.5px;
    font-weight: 600;
    font-style: italic;
    color: #C10E0B;
    
}
.department-head-container .head-info .close-sign{
    
    position: absolute;
    width:16px;
    top: 2%;
  
   right:2%;
   cursor: pointer;
}

@media (max-width:600px) {
    .department-head-container{
        padding:20px;
        max-width: 400px;
       
    }
    .department-head-container .head-info img{
        max-width: 155px;
    }
    .head-info .head-word h2{
        font-size: 13px;
    }
    .head-info .head-word p{
        font-size: 11px;
    }
    .head-info .head-word .signature{
        font-size: 9px;
    }




    
}
@media (max-width:460px){
    .head-info{
        flex-direction: column;
    }
    .department-head-container{
        padding:10px;
        max-width: 250px;
       
    }
    .department-head-container .head-info img{
    
        max-width: 140px;
         right: 0px;
     }
     .head-info .head-word p{
        margin-bottom: 5px;
     }
     .head-info .head-word h2{
        margin-bottom: 1px;
     }

    

}