.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  z-index: 100;
  transition: background 0.4s ease;
}

.nav-sticky {
background: linear-gradient(to bottom, rgba(8, 0, 58, 0.95) 0%, rgba(195, 26, 23, 0.6) 100%);
}

.navbar-logo {
  cursor: pointer;
}

.navbar-logo img {
  width: 100px;
  transition: transform 0.3s ease;
}

.navbar-logo img:hover {
  transform: scale(1.1);
}

.menu-icon {
  display: none;
  width: 35px;
  cursor: pointer;
  z-index: 100;
}

/* ====== Navbar Links ====== */
.navbar-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 25px;
  transition: all 0.3s ease-in-out;
}

.navbar-links li {
  font-size: 16px;
  cursor: pointer;
  transition: color 0.2s;
}

.navbar-links li:hover {
  color: #f8c800;
}

.navbar-links .btn {
  padding: 10px 20px;
  background-color: #fff;
  color: #212ea0;
  border-radius: 25px;
  transition: 0.3s;
}

.navbar-links .btn:hover {
  background-color: #212ea0;
  color: #fff;
}

/* ====== Social Media ====== */
.navbar-links .social-media a img {
  width: 22px;
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.navbar-links .social-media a img:hover {
  transform: scale(1.2);
}

/* ====== Active Scroll Link ====== */
.active-link {
  position: relative;
}

.active-link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

/* ====== Mobile Styles ====== */
@media (max-width: 870px) {
  .menu-icon {
    display: block;
  }

  .navbar-links {
    position: fixed;
    top: 0;
    right: 0;
    background: #08003a;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  .navbar-links {
    gap: 13px;
  }

  .navbar-links.show {
    transform: translateX(0%);
    opacity: 1;
    pointer-events: auto;
  }

  .navbar-links li {
    margin: 20px 0;
    font-size: 24px;
  }

  .navbar-links .btn {
    font-size: 18px;
    padding: 14px 30px;
  }

  .navbar-logo img {
    width: 85px;
  }
}
@media (max-width: 450px) {
  .navbar-links {
    gap: 8px;
  }
}
