#history {
  position: relative;
  max-width: 1200px;

  padding: 40px 10vw;
  border-radius: 20px;
  background: linear-gradient(to right, #f9f9f9, #f0f0ff);
  box-shadow: 0 8px 25px rgba(33, 46, 160, 0.1);
  margin: 80px auto;
}
#history .history-back-btn,
#history .history-next-btn {
  border-radius: 50%;
  background-color: #212ea0;
  width: 50px;

  padding: 10px;
  position: absolute;
  cursor: pointer;

  left: 3%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
#history .history-next-btn {
  left: 97%;
  transform: translate(-100%, -50%);
}
#history .slider {
  overflow-x: hidden;
}
#history .slider ul {
  display: flex;

  overflow: hidden;
}
#history .slider ul li {
  list-style: none;

  padding: 8px;
  /* border:1px solid black; */
  /* transform: translateX(-50%); */
}
.date-container {
  width: 200px;
  /* margin-left: 25px; */
  margin: 0 auto;

  position: relative;
  transform: translateY(200px);

  cursor: pointer;
  z-index: 10; /* Prevent overlap issues */
  transition: transform 0.2s; /* Smooth hover transition */
  /* border: 1px solid blue; */
}
#history .date {
  text-align: center;

  font-size: 70px;

  cursor: pointer;
  text-shadow: 1px 1px 0px #b71e1b6f,
    /* Shadow on the top-right */ -1px -1px 0px #b71e1b6f,
    /* Shadow on the bottom-left */ 1px -1px 0px #b71e1b6f,
    /* Shadow on the top-left */ -1px 1px 0px #b71e1b6f; /* Shadow on the bottom-right */
  color: white;
}

#history .slide {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.049);
  padding: 20px;
  border-radius: 10px;
  color: #676767;
  line-height: 1.4;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(40px);
  transition: transform 2s; /* Smooth hover transition */
}
#history .slide h3 {
  color: #212ea0;
}
#history img {
  border-radius: 10px;
  width: 200px;
  border: 4px solid #212ea0;
  margin-right: 10px;
}
#history-title {
  font-size: 13px;
  color: rgba(8, 0, 58, 0.7);
  margin: 5px 0px;
  font-weight: 600;
}
#history-info {
  font-size: 14px;
}

#history .slider ul li.hover .date-container {
  transform: translateY(40px);
}

#history .slider ul li.hover .slide {
  opacity: 1;
}

#history .slider ul li.hover .date {
  color: #b71e1b6f;
}

@media (max-width: 768px) {
  /* .history{
    margin:40px auto ;

  } */
  #history .history-back-btn,
  #history .history-next-btn {
    width: 35px;

    padding: 10px;
  }
}
@media (max-width: 540px) {
  #history .history-back-btn,
  #history .history-next-btn {
    width: 35px;

    padding: 6px;
  }
  .history img {
    width: 100px;
  }
  .history-title {
    font-size: 12px;
  }
  .history-info {
    font-size: 10px;
  }
  .history .date {
    font-size: 50px;
  }

  #history .slider ul li {
    padding: 10px;
  }
}
