.facts{
    margin:80px auto;
    width:90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 20px #212ea09b;
    border-radius: 30px;
    padding:20px;
    background-color: rgb(233, 230, 230)
}

.fact{

    display: flex;
    flex-direction: column;
    align-items: center;
    
    
   
             
    


     
}

.fact img{
    width: 50px;
    align-content: center;
}
.fact p{
    color:#212ea0;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}
.fact span{
    font-weight: 400;
    font-size: 20px;
    color:#000F38;
}
@media (max-width:1000px) {
    .fact p{
        
        font-size: 30px;
        
    }
    .fact span{
        
        font-size: 15px;
       
    }

    
}
@media (max-width:700px) {
    .fact p{
        
        font-size: 22px;
        
    }
    .fact span{
        
        font-size: 14px;
       
    }
    .fact img{
        width: 40px;
        align-content: center;
    }

    
}
@media (max-width:600px) {
    .facts{
        flex-direction: column;
        margin:40px auto;
       gap:20px;
     
    }
  

    
}
